nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #D9FFCB;
    padding: 15px 7%;
}

nav .titulo{
    font-size: 1.5rem;
    font-weight: bold;
    color:#242424;
    text-decoration: none;
}
nav ul{
    flex: 1;
    list-style: none;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color:#242424;
    border-radius: 0.5rem;
}
nav .pesquisa{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}
nav .pesquisa input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}
nav .pesquisa input::placeholder{
    color: #fff;
}
nav .pesquisa img{
    width: 20px;
    cursor: pointer;
}
nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;  
}
nav .menu span {
    width: 100%;
    height: 0.4rem;  
    border-radius: 0.2;
    background-color: #242424;
}

@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }
    nav {
        flex-direction: column;
        align-items: start;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    nav ul.open {
        display: flex;
    }
    nav ul li {
        width: 100%;
        text-align: center;
    }
}