body{
    background-image: url(../../assets/greenery-frame-watercolor-green.jpg);
}
@media (min-width: 1440px) {

    .buttonOpenModal{
        position: absolute;
        right: 0;
    }

    .container__telaInicial {
        border: none;
        margin: 0 !important;
        padding: 0 !important;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .container__telaInicial>.card {
        border: none;
        display: flex;
        justify-content: center;
        background-color: transparent;
        width: 60%;
        padding: 1em 0;

    }
    .card>.group {
        border: none;
        width: 60%;
        display: flex;
        
        gap: 50px;
        justify-content: center;
    }

    .filter {
        padding: 0 0.5em 1em 0.5em 
        
    }
    
}

@media screen and (min-width: 1024px) {
    .container__telaInicial {
        border: none;
        margin: 0 !important;
        padding: 0 !important;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .container__telaInicial>.card {
        border: none;
        display: flex;
        justify-content: center;
        width: 60%;
        padding: 1em 0;
        background-color: transparent;
    }
    .card>.group {
        border: none;
        width: 60%;
        display: flex;
    
        gap: 50px;
        justify-content: center;
    }
    .filter{
        width: 100vw;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 1em 0;

    }

    .filter > .pesquisa{
        width: 60%;
    }

    .buttonOpenModal{
        position: absolute;
        right: 0;
    }


}

@media (min-width: 768px) and (max-width: 1023px) {
    .container__telaInicial {
        border: none;
        margin: 0 !important;
        padding: 0 !important;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .buttonOpenModal{
        position: absolute;
        right: 0;
    }

    .container__telaInicial>.card {
        border: none;
        display: flex;
        justify-content: center;
        width: 60%;
        padding: 1em 0;
        background-color: transparent;
    }
    .card>.group {
        border: none;
        width: 60%;
        display: flex;
    
        gap: 50px;
        justify-content: center;
    }
}

@media (max-width: 767px) {

    .buttonOpenModal{
        position: absolute;
        right: 0;
    }

    .container__telaInicial {
        border: none;
        margin: 0 !important;
        padding: 0 !important;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .container__telaInicial>.card {
        border: none;
        display: flex;
        justify-content: center;
        width: 60%;
        padding: 1em 0;
        background-color: transparent;
    }
    .card>.group {
        border: none;
        width: 60%;
        display: flex;
    
        gap: 50px;
        justify-content: center;
    }
   }

  

.container__telaInicial>.card {
    border: none;
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 1em 0;

}

.card>.group {
    border: none;
    width: 60%;
    display: flex;

    gap: 50px;
    justify-content: center;
}

@media (max-width: 414px) {
    .filter {
        padding: 0 0.5em 1em 0.5em;
    }
    .buttonOpenModal{
        position: absolute;
        right: 0;
    }
    .container__telaInicial {
        border: none;
        margin: 0 !important;
        padding: 0 !important;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .container__telaInicial>.card {
        border: none;
        display: flex;
        justify-content: center;
        width: 60%;
        padding: 1em 0;
        background-color: transparent;
    }
    .card>.group {
        border: none;
        width: 60%;
        display: flex;
    
        gap: 50px;
        justify-content: center;
    }
}